# python3 -m venv .venv
# source .venv/bin/activate
# python -m pip install --upgrade pip
# python3 -m venv .venv && source .venv/bin/activate && python -m pip install --upgrade pip 

pillow
django
djangorestframework
python-dotenv