*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;

    display: block;
}
head, script {
    display: none;
}
html{
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Fredoka+One&family=Kdam+Thmor+Pro&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Righteous&family=Roboto:ital,wght@0,400;0,700;1,400&family=Staatliches&display=swap');

/*
font-family: 'Fascinate', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
*/
._1{font-family: 'Fascinate', cursive;}
._2{font-family: 'Fredoka One', cursive;}
._3{font-family: 'Kdam Thmor Pro', sans-serif;}
._4{font-family: 'Open Sans', sans-serif;}
._5{font-family: 'Righteous', cursive;}
._6{font-family: 'Roboto', sans-serif;}
._7{font-family: 'Staatliches', cursive;}
p{
    font-size: 50pt;
}
.fonts>*{
    margin: 0 20px;
}
.fonts{
    display: flex;
}

body{
    background-color: rgb(121, 121, 121);
    font-family: 'Roboto', sans-serif;
}

#main-nav{
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}

.nav-iten{
    margin: 0 2rem;
    padding: 1rem 0.5rem;
    border-radius: 30px;
    background-color: rgb(29, 29, 29);
    color: rgb(204, 204, 204);
}