{% extends 'base.html' %}

{% load static %}

{% block content %}
<aside>
    <img src="{% static bckgr_img_url|safe %}" alt="" class="front-page-img">
    {% comment %} <img src="{% static 'images/backgrounds/1.jpg' %}" alt="" class="front-page-img"> {% endcomment %}
</aside>
<main>
    {% comment %} <div>
        <img src="{% static icon_img_url|safe %}" alt="" class="icon-img">
    </div> {% endcomment %}
    <form action="">
        <div class="form-field">
            <label for="Username">Username</label>
            <input type="text" id="username">
        </div>
        <div class="form-field">
            <label for="Password">Password</label>
            <input type="text" id="password">
        </div>
    </form>
</main>
{% endblock content %}

{% block scripts %}
<script>
    document.querySelector('#username').value='string'
</script>
{% endblock scripts %}
