matplotlib==3.3.4
# matplotlib
# matplotlib==3.5.1
# pyqt5
# scipy
# pyquaternion

# x = [1, 2, 3]
# y = [4, 4, 6]
# z = [7, 9, 9]
# x.append(x[0])
# y.append(y[0])
# z.append(z[0])

# symbols = ['o', '+', '*']