{% extends 'base.html' %}

{% block title %}Marina{% endblock title %}

{% block content %}
    <h1>Title</h1>
    <div class="cho-container"></div>
{% endblock content %}

{% block script %}
<script src="https://sdk.mercadopago.com/js/v2"></script>

<script>
  const mp = new MercadoPago('PUBLIC_KEY', {
    locale: 'pt-BR'
  });

  mp.checkout({
    preference: {
      id: 'YOUR_PREFERENCE_ID'
    },
    render: {
      container: '.cho-container',
      label: 'Pagar',
    }
  });
</script>

{% endblock script %}