.page-content{
  padding-block: 2rem;

  height: 100vh;
  height: 100dvh;
  height: 100svh;

  width: 100vw;
  width: 100dvw;
  width: 100svw;

  background-color: #dac1ff;
}

/* .bordered-row>*{
  border: var(--color-twitch-purple-5) 2px solid;
} */

.h1{
  margin: 0;
  color: var(--color-twitch-purple-5);
  font-weight: 700;
}

.main{
  margin-top: 3rem;
}

.add-button{
  background-color: var(--color-twitch-purple-7);
  color: #fff;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.form{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-twitch-purple-10);
  padding-block: 1.5rem;
  border-radius: 20px;
}

.form .form-group{
  text-align: center;
}

.form label{
  font-size: 1.5rem;
}

.form button{
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--color-twitch-purple-5);
  border: 0;
}

.name{
  padding-left: 2rem;
}

.rounds{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: var(--color-twitch-purple-5) 2px solid;
  border-right: none;
}

.head{
  border: var(--color-twitch-purple-5) 2px solid;
}

.head> .rounds{
  display: block;
  padding-left: 2rem;
}

.action-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .action-icon:first-child{
  color: var(--main-green);
}

.action-icon:last-child{
  color: var(--main-red);
} */

.minus{
  cursor: pointer;
  color: var(--main-red);
  background-color: #e3180a27;
}

.plus{
  cursor: pointer;
  color: var(--main-green);
  color: var(--dark-blue);
  border-right: var(--color-twitch-purple-5) 2px solid;
  background-color: #2b2d421f;
}