django
django-autoslug
django-debug-toolbar
django-model-utils
environ
factory-boy
ipython
pillow
pytest
pytest-cov
pytest-django
django-widget-tweaks
django-crispy-forms
django-localflavor
mercadopago
django-environ
pytest-mock
requests
mysqlclient